{% extends "base.html" %}
{%block title %} Post details {% endblock %}
{% block content %}

<h1> {{post.title}} </h1>
<h3> by {{post.author.first_name}}</h3>
</br>
{{post.content}}

</br></br>

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk %}"> Edit Post </a>
        </br>
        <a href="{% url 'delete_post' post.pk %}"> Delete Post </a>
        </br>
    {% endif %}
{% endif %}
<a href="{% url 'home' %}"> Back to articles </a>

{% endblock %}